@font-face {
   font-family: 'DS_Celtic-2';
   font-display: swap;
   src: url('file:///C:/Users/ascii/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-27_012508/fonts/DS_Celtic-2/font.ttf');
}
